/* src/styles/navBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: white;
  border-bottom: 1px solid #ccc;
   gap: 12px;
}
.nav-home {
  color: #0077cc;
  font-weight: bold;
}
.logo {
  margin: 0 auto;             
  display: block;
  height: 30px;
}
.nav-actions button {
  background: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.new-chat-btn {
  background: #0078ff;
  color: rgb(135, 179, 77);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}
.new-chat-btn:hover {
  background: #005fcc;
}




