/* src/styles/suggestionCards.css */
.suggestion-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
   justify-content: center;
  align-items: center;
  margin: 2rem ;
}
.suggestion-card {
  background: #ddd;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  
}

.suggestion-card:hover {
  background: #ccc;
}